<footer class="footer bg-dark py-3 mt-auto ">
  <div class="container ">
      <span class="text-muted">&copy; Hotel 2020</span>
  </div>
</footer>


<style>

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* #myUl{
  min-height: 100%;
  margin-bottom: 52px;
}
.footer:after{
  content: '';
  display: block;
}
.footer, #myUl:after{
  height: 52px;
} */

</style>